.ace_editor {
  font-family: $font-family-code !important;
  line-height: 1.6 !important;
  background-color: $background-color-2 !important;
}

.ace_gutter {
  background-color: $background-color-2 !important;
  color: $font-color-comment !important;
}

.ace_gutter-active-line {
  background-color: $background-color-1 !important;
}