$demo-height: 100vh;
$demo-offset-vertical: 16px;
$demo-offset-horizontal: 32px;
$demo-header-height: 104px;
$demo-body-height: calc(#{$demo-height} - #{$demo-header-height});

.demo {
  @extend .row;
  @extend .no-offsets;
  height: $demo-height;
  background-color: $background-color-1;
  color: $font-color-primary;
}

.demo .card {
  @extend .h-100;
  background-color: $background-color-2;
  border-radius: .25rem;
  border: $border-primary;
}

.demo .card > .card-header {
  border-bottom: $border-primary;
}

.demo .card > .card-footer {
  border-top: $border-primary;
}

.demo .sidebar {
  @extend .col-3;
  @extend .col-lg-3;
  @extend .d-none;
  @extend .d-sm-block;
  @extend .no-offsets;
  background-color: $background-color-2;
  border-right: $border-primary;
}

.demo .workarea {
  @extend .col-12;
  @extend .col-sm-9;
  @extend .col-lg-9;
  @extend .no-offsets;
}

.demo .workarea > .header {
  @extend .row;
  @extend .no-offsets;
  height: $demo-header-height;
  padding: $demo-offset-vertical $demo-offset-horizontal;
  border-bottom: $border-primary;
}

.demo .workarea > .header > .card {
  @extend .col-12;
  @extend .col-lg-9;
  @extend .h-100;
  @extend .no-offsets;
}

.demo .workarea > .body {
  @extend .row;
  @extend .no-offsets;
  height: $demo-body-height;
  padding: $demo-offset-vertical $demo-offset-horizontal;
}

.demo .workarea > .body > .card {
  @extend .col-12;
  @extend .col-lg-9;
  @extend .h-100;
  @extend .no-offsets;
}

.demo .workarea > .body > .card > .card-header {
  @extend .font-monospace;
  @extend .fs-6;
}

.demo .workarea > .body > .card > .card-footer {
  @extend .font-monospace;
  @extend .fs-6;
}

.demo .workarea > .body > .card > .card-body {
  @extend .no-offsets;
  overflow: scroll;
}
