$background-color-1: #070910;
$background-color-2: #0d1117;
$font-color-primary: #cbcfe2;
$font-color-comment: #5c6370;
$border-primary: 1px solid #30363d;
$font-family-primary: 'Ubuntu', sans-serif;
$font-family-code: 'Ubuntu Mono', monospace;
